<a href="https://colab.research.google.com/github/NavyaSrija/Decision-Tree-Algorithm/blob/main/Decision_Tree_Algorithm_for_Iris_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Initializing libraries
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [ ]:
data = pd.read_csv('/content/Iris.csv')

In [ ]:
#Loading Dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
data.tail()

      Id  SepalLengthCm  ...  PetalWidthCm         Species
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[5 rows x 6 columns]

In [ ]:
data.describe

<bound method NDFrame.describe of       Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]>

In [ ]:
data.shape

(150, 6)

In [ ]:
corr = data.corr()
print(corr)

                     Id  SepalLengthCm  ...  PetalLengthCm  PetalWidthCm
Id             1.000000       0.716676  ...       0.882747      0.899759
SepalLengthCm  0.716676       1.000000  ...       0.871754      0.817954
SepalWidthCm  -0.397729      -0.109369  ...      -0.420516     -0.356544
PetalLengthCm  0.882747       0.871754  ...       1.000000      0.962757
PetalWidthCm   0.899759       0.817954  ...       0.962757      1.000000

[5 rows x 5 columns]

In [ ]:
print(data.mean())

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [ ]:
print(data.std())

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

In [ ]:
data['Species'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: Species, dtype: int64

In [ ]:
X = data.drop('Species', axis=1)  
y = data['Species']

In [ ]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
print(X_train)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
81    82            5.5           2.4            3.7           1.0
84    85            5.4           3.0            4.5           1.5
134  135            6.1           2.6            5.6           1.4
19    20            5.1           3.8            1.5           0.3
99   100            5.7           2.8            4.1           1.3
..   ...            ...           ...            ...           ...
102  103            7.1           3.0            5.9           2.1
43    44            5.0           3.5            1.6           0.6
124  125            6.7           3.3            5.7           2.1
39    40            5.1           3.4            1.5           0.2
76    77            6.8           2.8            4.8           1.4

[120 rows x 5 columns]

In [ ]:
print(y_train)

81     Iris-versicolor
84     Iris-versicolor
134     Iris-virginica
19         Iris-setosa
99     Iris-versicolor
            ...
102     Iris-virginica
43         Iris-setosa
124     Iris-virginica
39         Iris-setosa
76     Iris-versicolor
Name: Species, Length: 120, dtype: object

In [ ]:
print(X_test)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
5      6            5.4           3.9            1.7           0.4
9     10            4.9           3.1            1.5           0.1
74    75            6.4           2.9            4.3           1.3
139  140            6.9           3.1            5.4           2.1
1      2            4.9           3.0            1.4           0.2
145  146            6.7           3.0            5.2           2.3
80    81            5.5           2.4            3.8           1.1
120  121            6.9           3.2            5.7           2.3
79    80            5.7           2.6            3.5           1.0
21    22            5.1           3.7            1.5           0.4
55    56            5.7           2.8            4.5           1.3
83    84            6.0           2.7            5.1           1.6
15    16            5.7           4.4            1.5           0.4
109  110            7.2           3.6            6.1           2.5
60    61            5.0           2.0            3.5           1.0
34    35            4.9           3.1            1.5           0.1
137  138            6.4           3.1            5.5           1.8
52    53            6.9           3.1            4.9           1.5
146  147            6.3           2.5            5.0           1.9
49    50            5.0           3.3            1.4           0.2
40    41            5.0           3.5            1.3           0.3
47    48            4.6           3.2            1.4           0.2
24    25            4.8           3.4            1.9           0.2
130  131            7.4           2.8            6.1           1.9
3      4            4.6           3.1            1.5           0.2
54    55            6.5           2.8            4.6           1.5
131  132            7.9           3.8            6.4           2.0
88    89            5.6           3.0            4.1           1.3
68    69            6.2           2.2            4.5           1.5
116  117            6.5           3.0            5.5           1.8

In [ ]:
print(y_test)

5          Iris-setosa
9          Iris-setosa
74     Iris-versicolor
139     Iris-virginica
1          Iris-setosa
145     Iris-virginica
80     Iris-versicolor
120     Iris-virginica
79     Iris-versicolor
21         Iris-setosa
55     Iris-versicolor
83     Iris-versicolor
15         Iris-setosa
109     Iris-virginica
60     Iris-versicolor
34         Iris-setosa
137     Iris-virginica
52     Iris-versicolor
146     Iris-virginica
49         Iris-setosa
40         Iris-setosa
47         Iris-setosa
24         Iris-setosa
130     Iris-virginica
3          Iris-setosa
54     Iris-versicolor
131     Iris-virginica
88     Iris-versicolor
68     Iris-versicolor
116     Iris-virginica
Name: Species, dtype: object

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
data_Check = LogisticRegression()
data_Check.fit(X_train, y_train)
y_pred = data_Check.predict(X_test)
correct = (y_pred == y_test).sum()
accuracy = correct/len(y_test)*100
print("accuracy = ", accuracy, "%")

accuracy =  100.0 %

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
from sklearn.tree import DecisionTreeClassifier  
data_classifier = DecisionTreeClassifier()  
data_classifier.fit(X_train, y_train) 
y_pred = data_classifier.predict(X_test)


correct = (y_pred==y_test).sum()
accuracy = correct/len(y_test)*100
print("accuracy = ", accuracy, "%")

accuracy =  100.0 %

In [ ]:
from sklearn.svm import SVC  
svclassifier = SVC(kernel='linear')  
svclassifier.fit(X, y)

y_pred = svclassifier.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  100.0 %

In [ ]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(X, y) 
y_pred = gnb.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  99.33333333333333 %

In [ ]:
class Students:
     def __init__(self,a="Cmrit"):
         self.a=a
 
     def display(self):
         print(self.a)
obj=Students()
obj.display()

Cmrit

In [ ]:
class test:
     def __init__(self,a):
         self.a=a
 
     def display(self):
         print(self.a)
obj=test("Hello")
obj.display()

Hello